.contact{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    align-items: center;
}
.contactName,.contactEmail{
    width: 500px;
    height: 40px;
    padding: 5px 15px;
    border: none;
    outline: none;
    background-color: gainsboro;
    border-radius: 5px;
}
textarea{
    width: 500px;
    padding: 5px 15px;
    border: none;
    outline: none;
    background-color: gainsboro;
    border-radius: 5px;
}
.contactHeader{
    margin-top: 100px;
    margin-bottom: 50px;
}
.contactInputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.contactInputs button{
    width: 150px;
    height: 40px;
    background-color:gainsboro;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
}
.contactInputs button:hover,.contactInputs button:focus{
    background-color: bisque;
    box-shadow: 2px 2px 5px grey;
}
.socialMedia{
    display: flex;
    gap: 30px;
    margin: 50px;
}
.socialMedia img{
    width: 50px;
}
.fb{
    padding: 8px;
}
.utube{
    padding: 8px;
}