.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 10px 70px;
    background-color: bisque;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 1000;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:cursive;
}
.left img{
    object-fit: cover;
    width: 50px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.2rem;
}