.footer{
    display: grid;
    place-content: center;
    height: 3rem;
    background-color: var(--bgColor);
    /* position: sticky; */
    /* bottom: 0; */
    width: 100vw;
    font-size: small;
    font-weight: bold;
}