.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/homebg.jfif);
    background-size: cover;
}

.search h1{
    margin-top: 50px;
    color: white;
    text-shadow: 2px 2px 4px black;
}
.search p{
    margin-top: 15px;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
}
.labels{
    display: flex;
    width: 100%;
    margin-top: 200px;
    justify-content: space-evenly;
    align-items: center;
}
.homes{
    text-align: center;
}
.homes h1{
    font-size: 3rem;
}
.homes span{
    font-size: 3rem;
    color: white;
}
.customer{
    text-align: center;
}
.customer h1{
    font-size: 2.2rem;
}
.customer span{
    font-size: 3rem;
    color: white;
}
.areas{
    text-align: center;
}
.areas h1{
    font-size: 3rem;
}
.areas span{
    font-size: 3rem;
    color: white;
}


.searchBarContainer {
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin-top: 30px;
  }
  
  .cityDropdown {
    padding: 10px;
    height: 44px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 20px 0px 0px 20px;
    background-color: white;
    min-width: 150px;
  }
  
  .searchBox {
    flex: 1;
    padding: 10px;
    height: 44px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 0px 20px 20px 0px;
    background-color :white;
    padding-left: 20px;
  }

  